{% extends 'master.html' %}
{% load static %}
{% block content %} 

<section class="sec10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">  
                <div class="box2">
                    <div class="inbox3"> 
                        <h1>Add Product</h1> <br>
                        <form method="POST" enctype="multipart/form-data">  
                            {% csrf_token %}  
                            {{ form.as_p }}  
                            <button type="submit" class="btn btn-dark loginbtn">Upload</button>  
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}