{% extends 'master.html' %}
{% load static %}
{% block content %} 
<section class="sec10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="box2">
                    <div class="inbox0">
                        <h3> Admin Login</h3>
                        {% if 'inv' in request.GET %}
                            <span style="color:red">Invalid username or password</span>
                        {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <label for="">Username :</label>
                                <input type="text" name="user">
                                <br><br>
                                <label for="">Password :</label>
                                <input type="password" name="pass">
                                <br><br>
                               <button type="submit" class="btn btn-dark loginbtn">Login</button>
                            </form> 
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}