{% extends 'master1.html' %}
{% load static %}
{% block content %} 

<section class="sec00" style="margin: 80px 0px;">
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
            
              
                <div style="text-align:center; "><i class="bi-check-circle icon3" style="color: rgb(80, 186, 80);font-size:80px;"></i>
                <h3>Thank You For Your Order!</h3>
                <h3 class="head5">Shop more with us!</h3>
                <a href="/"><button type="submit" class="btn btn-info text-white" style="margin-top: 20px; font-family:cambria;">Back to Home</button></a>
        </div>
    </div>
</section>


{% endblock %}