{% extends 'master1.html' %}
{% load static %}
{% block content %} 

<section>
    <div class="container" >
        <div class="row">
            <div class="col-sm-9">
                <div class="inbox02" style="background-color:rgb(237, 237, 237);padding:20px;">
                        <h6 style="margin: 0px 0px 15px 10px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;">My orders</h6>

                        <table class="table">
                            {% for x in order %}

                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img src="{% static 'uploads/' %}{{x.prod_image}}" height="70px">
                                            </div>    
                                            <div class="col-sm-4" style="margin-top: 15px;">
                                            {{x.prod_name}}
                                            </div>             
                                            <div class="col-sm-6" style="text-align: right;font-weight: bold;margin-top: 15px;">
                                                ₹ {{x.prod_tot}}
                                                <div style="font-weight: normal;color: gray; margin-right: 10px;">Qty:{{x.prod_qty}}</div>
                                            </div>    
                                        </div>     
                                    </td>
                                </tr>  
                            {% endfor %}      
                        </table> 
                    
                        <div class="row" style="text-align:end;">
                            <div class="col-sm-12">
                                <h6 style="margin: 15px 0px 0px 0px;">Delivery Address</h6>
                                   <div>{{adrs}}</div>

                                <h6 style="margin: 15px 0px 0px 0px;">Payment method</h6>
                                    <div>{{dtyp}}</div>
                            
                                <h6 style="margin: 15px 0px 0px 0px;"> Grand Total</h6>
                                <span style="font-weight: bold;">₹ {{ gtot }}</span>
                           </div>
                        </div>

                        
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}